DB_DRIVER=ODBC Driver 17 for SQL Server
DB_SERVER=MSI\SQLEXPRESS
DB_NAME=CryptoBot
DB_AUTH=windows
DB_USERNAME=
DB_PASSWORD=
DB_TRUST_SERVER_CERTIFICATE=yes
DB_ENCRYPT=yes

COINCHECK_BASE_URL=https://coincheck.com
COINCHECK_ACCESS_KEY=
COINCHECK_SECRET_KEY=

LINE_CHANNEL_ACCESS_TOKEN=
LINE_USER_ID=

EXCHANGE_NAME=coincheck
SYMBOL=BTC_JPY
BASE_SYMBOL=BTC
QUOTE_SYMBOL=JPY

TRADING_ENABLED=false
ORDER_AMOUNT_JPY=5000
TAKE_PROFIT_RATE=0.005
STOP_LOSS_RATE=0.007
MAIN_LOOP_INTERVAL_SECONDS=60
STRATEGY_NAME=sma_rsi_trend

BACKTEST_INITIAL_JPY=100000
BACKTEST_ORDER_AMOUNT_JPY=5000
BACKTEST_TRADE_PAGES=1
BACKTEST_TRADE_LIMIT=100

MAX_DAILY_LOSS_RATE=0.03
MAX_CONSECUTIVE_LOSSES=3
API_RETRY_COUNT=3
API_RETRY_INTERVAL_SECONDS=5
